<!-- @format -->

{% extends 'base.html' %}{% block title %} Birthdays {% endblock %}{% block
content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">Birthday List</h2>
    </div>
  </div>
  <table class="table table-hover bg-light rounded">
    <thead>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Age</th>
      <th class="text-center">Birthday Countdown <i>(# of days)</i></th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      {% for person in flask_bday_objs %}
      <tr>
        <th>
          <!-- <img
            src="{{person['img_url']}}"
            class="img-container"
            alt=""
            style="width: 50px; height: 50px"
          /> -->
        </th>
        <td>{{person['first_name']}} {{person['last_name']}}</td>
        <td>{{person['birthday']}}</td>
        <td>{{person['age']}}</td>
        <td class="text-center">
          <span class="display-6">{{person['countdown']}}</span>
        </td>
        <td class="text-right">
          <a class="btn" href="/friend/{{person['id']}}"> &#x1F50D;</a>
          <a class="btn" href="/friend/{{person['id']}}/edit">&#9998;</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
