<!-- @format -->

{% extends 'base.html' %}{% block title %} Birthdays {% endblock %}{% block
content %}
<h1>Birthday List!</h1>
<div>
  <ul>
    {% for person in flask_bday_objs %}
    <li>
      <p>Name: {{person['first_name']}} {{person['last_name']}}</p>
      <p>Birthday: {{person['birthday']}}</p>
      <p>Countdown: {{person['countdown']}} day(s)</p>
      <img src="{{person['img_url']}}" alt="" />
      <p><a href="/friend/{{person['id']}}/edit">Edit</a></p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
