<!-- @format -->

{% extends 'base.html' %}{% block title %} 'Hello' {% endblock %}{% block
content %}

<div class="container">
<div class="row">
<div class="col-md-4 bg-light">
  <h1>{{friend['first_name']}} {{friend['last_name']}}</h1>
  <div>
    <img src="{{friend['img_url']}}" alt="" />
    <br />
    <p>Birthday: {{friend['birthday']}}</p>
    <p>Age: {{friend['age']}} years old</p>
    <p>Days until birthday: {{friend['countdown']}}</p>
    {% if friend['greeting'] %}
    <hr>
    <p><u>Birthday Greeting :</u> {{friend['greeting'].greeting}} 
      <a href="/greeting/{{friend['id']}}/delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg></a></p>
    {% endif %}
    <hr>
    <p><a class="btn btn-outline-primary" href="/friend/{{friend['id']}}/edit">Edit friend</a></p>
    <p>
      <form method="POST" action="/friend/{{friend['id']}}/delete">
        <button class="btn btn-outline-primary">Delete friend</button>
      </form>
    </p>
  </div>
  </div>
  </div>
</div>

{% endblock %}
