<!-- @format -->

{% extends 'base.html' %}{% block title %} 'Hello' {% endblock %}{% block
content %}

<div class="container-fluid form-group">
  <h1>Edit your personal information</h1>
  <div class="row">
    <div class="col-md-4">
      <form method="POST" id="user_edit_form">
        {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
        'hidden' %}
        <p>
          <span class="font-weight-bold"
            >{{field.label(class_="form-control bg-light")}}</span
          >
          {{field(class_="form-control")}}
        </p>
        {% endfor %} {% for category, message in
        get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
